@charset "utf-8";
/* 공통 스타일 */
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #f1f1f1;
}
ul li{
  list-style: none;
}
#container{
  width: 100%;
  margin: 0 auto;
}
header{
  height: 80px;
  background-color: rgb(1, 1, 100);
}
header #logo{
  width: 20%;
  float: left;
  line-height: 80px;
  padding-left: 40px;
}
header #logo h1 a{
  color: skyblue;
}
header #logo h1 a:hover{
  color: #f2f2f2;
}
header nav{
  width: 75%;
  float: right;
  line-height: 80px;
}
header nav ul{
  padding-left: 300px;
}
header nav ul li{
  float: left;
}
header nav ul li:hover{
  background-color: skyblue;
}
header nav ul li a{
  display: block;
  padding: 0 40px;
}
#main{
  width: 1000px;
  margin: 30px auto;
}
#main #contents{
  width: 800px;
  margin: 0 auto;
}
/* footer 스타일 */
footer{
  height: 80px;
  border-top: 2px solid #222;
}
footer #footer_menu{
  margin: 10px 40px;
}
footer #footer_menu li{
  float: left;
  border-right: 2px solid #ccc;
  margin: 10px 0;
  padding: 0 10px;
}
footer #footer_menu li a{
  color: #444;
}
/* li:last-child{} 가능 */
footer #footer_menu li:nth-of-type(4){
  border: none;
}

/* index 스타일 */
#main #contents h1{
  text-align: center;
  margin: 20px;
}
#main #contents .main_pic{
  width: 500px;
  margin: 0 auto;
}
#main #contents .main_pic img{
  width: 500px;
  height: 500px;
  border-radius: 6px;
}

/* product 스타일 */
#main #contents .product_h1{text-align: left;}
#contents #watermelon, #strawberry{
  height: 350px;
}
#contents #watermelon img, #strawberry img{
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 16px;
  border-radius: 6px;
}
#contents #watermelon p, #strawberry p{
  line-height: 2;
}

/* board 스타일 */
#contents table{
  width: 700px;
  border: 2px solid #ccc;
  border-collapse: collapse;
  margin: 30px 0 150px;
}
#contents table th, td{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
#contents table thead{
  background-color: #eee;
}
/* td:nth-child(2), nth-of-type(2) */
#contents table tr td:nth-of-type(2){
  text-align: left;
}

/* 로그인 스타일 */
#contents form{
  width: 440px;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-bottom: 300px;
}
#contents form ul{
  padding: 20px 40px; 
}
#contents form ul li{
  margin: 20px;
}
#contents form label{
  width: 80px;
  float: left;
}
/* 속성 선택자(태그[속성='속성값']) */
#contents form input[type='text'], input[type='password']{
  width: 200px;
  height: 25px;
  padding: 0 5px;
}
#contents form input[type='submit'], input[type='reset']{
  padding: 5px 8px;
}
